body {
    background: rgb(255, 0, 76);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 300px;
    margin: auto;         /* Centralizando a TAG */
    *text-align: center;  /* Centralizando o texto */

    box-shadow: 5px 5px 10px rgba(49, 49, 49, 0.383);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}